* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-family: Arial;
  min-height: 100vh;
  min-width: 100vw;
}

a {
  text-decoration: none;
  font-size: 2rem;
  text-transform: uppercase;
  color: white;
}

nav {
  background-color: rgb(56, 53, 209);

  height: 100vh;
}

ul {
  height: 100vh;
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 15vw;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}

main {
  display: flex;
}

hr {
  width: 20rem;
}
.nav-item {
  position: relative;
}
.nav-link:before {
  position: absolute;
  content: "";
  width: 1em;
  height: 1em;
  background-color: transparent;
  border: 3px solid white;
  border-radius: 50%;
  top: 50%;
  left: -2em;
  transform: translateY(-50%);
}
